#root {
  text-align: center;
}
#container{
  margin-left: 39.0em;
}
.keypad, .keys-row-1, .keys-row-2, .keys-row-3{
  display: flex;
}
.screen{
  width: 7.0em;
  text-align: right;
  border: 0.1em solid #000;
}